// Copyright 2022 @filterpaper
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NUM 1
#define NAV 2
#define GAME 3
#define GNUM 4

#define ________ &trans

#define TAPPING_TERM 148
#define QUICK_TAP    150


&lt {
	flavor = "hold-preferred";
	tapping-term-ms = <TAPPING_TERM>;
	quick-tap-ms = <QUICK_TAP>;
};

&mt {
	flavor = "balanced";
	tapping-term-ms = <TAPPING_TERM>;
	quick-tap-ms = <QUICK_TAP>;
};

&caps_word {
	continue-list = <UNDER MINUS BSPC RSHFT LSHFT>;
};


/ {
	behaviors {
		gresc: grave_escape {
			label = "grave_escape";
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			mods = <(MOD_LGUI|MOD_RGUI)>;
			bindings = <&kp ESC>, <&kp GRAVE>;
		};
		ht: hold_tap {
			label = "hold_tap";
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <TAPPING_TERM>;
			quick-tap-ms = <QUICK_TAP>;
			global-quick-tap;
			bindings = <&kp>, <&kp>;
		};
		lht: left_positional_hold_tap {
			label = "left_positional_hold_tap";
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <TAPPING_TERM>;
			quick-tap-ms = <QUICK_TAP>;
			bindings = <&kp>, <&kp>;
			hold-trigger-key-positions = <
							5  6  7  8  9
			10 11 12 13    15 16 17 18 19
						   25 26 27 28 29
				  30 31 32 33>;
		};
		rht: right_positional_hold_tap {
			label = "right_positional_hold_tap";
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <TAPPING_TERM>;
			quick-tap-ms = <QUICK_TAP>;
			bindings = <&kp>, <&kp>;
			hold-trigger-key-positions = <
			 0  1  2  3  4
			10 11 12 13 14    16 17 18 19
			20 21 22 23 24
						30 31 32 33>;
		};
	};
};


#define COMBO(name, keypress, keypos) \
combo_##name {                        \
	timeout-ms = <40>;                \
	bindings = <keypress>;            \
	key-positions = <keypos>;         \
};
/* Combo key positions
 0  1  2  3  4         5  6  7  8  9
10 11 12 13 14        15 16 17 18 19
20 21 22 23 24        25 26 27 28 29
			30 31  32 33             */

/ {
	combos {
		compatible = "zmk,combos";
		//gaming
		COMBO(tog_gaming, &tog GAME, 0 9)
		//bluetooth
		COMBO(blu0, &bt BT_SEL 0, 4 5)
		COMBO(blu1, &bt BT_SEL 1, 14 15)
		COMBO(blu_clear, &bt BT_CLR, 24 25)
		// horizontal
		// // main 
		COMBO(esc, &kp ESC, 10 11)
		COMBO(terminal_esc, &kp LC(C), 11 12)
		COMBO(enter, &kp ENTER, 12 13)
		COMBO(albert, &kp LG(SPACE), 16 17)
		COMBO(tmux, &kp LC(B), 17 18)
		COMBO(caps, &kp CAPS, 18 19)
		// // top
		COMBO(vim_save,  &vim_s,  0 1)
		COMBO(vim_quit,  &vim_q,  1 2)
		// // bottom
		COMBO(cd_downward, &dir_up, 22 23)
		// // bottom
		// vertical left
		COMBO(vol_up, &kp C_VOL_UP,  0 10)
		COMBO(vol_dn, &kp C_VOL_DN, 10 20)
		COMBO(singlequote, &kp SQT, 1 11)
		COMBO(doublequote, &kp DQT, 11 21)
		COMBO(colon, &kp COLON, 2 12)
		COMBO(semicolon, &kp SEMI, 12 22)
		COMBO(minus, &kp MINUS, 3 13)
		COMBO(underscore, &kp UNDER, 13 23)
		// vertical right
		COMBO(brightness_up, &kp C_BRIGHTNESS_INC, 9 19)
		COMBO(brighness_down, &kp C_BRIGHTNESS_DEC, 19 29)
		COMBO(next, &kp C_NEXT, 8 18)
		COMBO(play, &kp C_PLAY, 7 17)
		COMBO(prev, &kp C_PREV, 6 16)
		// UNUSED COMBO(, , 18 28)
		// UNUSED COMBO(, ,  17 27)
		// UNUSED COMBO(, , 6 16)	
		//TODO capsword
	};
};


#define MACRO(name, keys)             \
name: name##_macro {                  \
	label = #name;                    \
	compatible = "zmk,behavior-macro";\
	#binding-cells = <0>;             \
	tap-ms = <1>;                     \
	wait-ms = <1>;                    \
	bindings = <keys>;                \
};

/ {
	macros {
		MACRO(vim_q,  &kp COLON &kp Q &kp EXCL &kp ENTER)
		MACRO(vim_s,  &kp COLON &kp W &kp Q &kp ENTER)
		MACRO(dir_up, &kp DOT &kp DOT &kp FSLH)
	};
};

/ {
	keymap {
		compatible = "zmk,keymap";
		BASE_layer {
			bindings = <
		//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			&kp Q      &kp W      &kp F      &kp P      &kp B          &kp J       &kp L      &kp U      &kp Y      &kp TAB
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
		   	&kp A      &kp R      &kp S      &kp T      &kp G          &kp M       &kp N        &kp E      &kp I     &kp O
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			&kp Z      &kp X      &kp C      &kp D      &kp V          &kp K       &kp H     &kp COMMA   &kp DOT    &kp FSLH
		//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                                &mo NAV 	&kp SPACE  &mt LSHFT BSPC  &mo NUM
		//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
		NUM_layer {
			bindings = <
		//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
		   &kp DOLLAR   &kp LBRC  &kp RBRC    &kp PLUS  &kp CARET	  &kp TILDE    &kp N7     &kp N8     &kp N9    &kp POUND
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			&kp LPAR   &kp EXCL   &kp EQUAL   &kp RPAR   &kp AMPS      &kp PIPE    &kp N1     &kp N2     &kp N3     &kp N0
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
		     &kp LT    &kp LBKT   &kp RBKT    &kp GT   &kp PERCENT     &kp AT      &kp N4     &kp N5     &kp N6    &kp STAR
		//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                                  &kp LS(G)  ________       ________   ________
		//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
		NAV_layer {
			bindings = <
		//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
	        &kp LG(W)  &kp LG(A)   &sk LGUI   &kp LG(S)  ________      ________   &kp LC(O) &kp LC(D)  &kp LC(U)   &kp LC(I)
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			&kp LEFT   &kp DOWN    &kp UP    &kp RIGHT  &kp LG(T)    &kp LC(TILDE) &sk LGUI  &kp LC(P)  &kp LG(F)  &sk LCTRL
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
		   &kp LG(Z)   &kp LG(X)  &kp LG(C)  &kp LG(H)   &kp LG(V)      &kp LC(R)  &kp GRAVE   &sk LALT  &kp BSLH  &kp LG(FSLH)
		//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
				                             ________   ________       ________   ________
		//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
		GAME_layer {
			bindings = <
		//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			&kp LCTRL     &kp Q     &kp W      &kp E      &kp R          &kp T       &kp L      &kp U      &kp Y      &kp TAB
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
		    &mo GNUM    &kp A      &kp S      &kp D      &kp F         &kp M       &kp N        &kp E      &kp I     &kp O
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
		   &kp LGUI   &kp Z      &kp X      &kp C      &kp V          &kp K       &kp H     &kp COMMA   &kp DOT    &kp FSLH
		//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                                &mo NAV 	&kp SPACE  &mt LSHFT BSPC  &mo NUM
		//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
		GAMENUM_lyaer {
			bindings = <
		//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			________   &kp N1     &kp N2      &kp N3      &kp R          &kp J       &kp L      &kp U      &kp Y      &kp TAB
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
		    ________    &kp N4      &kp N5      &kp N6      &kp N0         &kp M       &kp N    &kp E      &kp I     &kp O
		//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
		   &kp LCTRL   &kp N7      &kp N8      &kp N9      &kp V          &kp K       &kp H    &kp COMMA   &kp DOT    &kp FSLH
		//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                                &mo NAV 	&kp SPACE  &mt LSHFT BSPC  &mo NUM
		//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
	};
};
